{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-4">
            <div class="mt-5">
            <div class="card" style="width: 18rem;">
            <img src="{{i.img.url}}" class="card-img-top" alt="" height="300">
             <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">{{i.desc}}</p>
             <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">Open</a>
  </div>
</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}